.copyright {
    clear: both;
    text-align: center;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #494949;

}

.copyright__text {
    color: #eaeaea;
    font: 12px/28px "open_sansregular", sans-serif;
}