@import "../utilities/_sprite";


.filters {
    background: #e4ebee;
    border: 1px solid #dee1e4;
    border-radius: 5px;
    margin-bottom: 20px;
}


.filter-select {
    float: left;
    margin-left: 22px;
    margin-top: 10px;
    position: relative;
}

.filter__select {
    display: none;
}


.select2 {
    box-shadow: inset 0 1px 1px 0 rgba(148, 148, 148, 0.43);
    font: 14px/20px "open_sanslight", sans-serif;
    margin-left: 5px;
}
//////////////////////////////////
.le-wrap-select {
    box-sizing: border-box;
    width: 155px;
    display: inline-block;
    position: relative;
    color: #7f7f7f;
    font: 14px/22px "open_sanslight", sans-serif;
    margin-left: 5px;
}

.le-select__trigger {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #dee1e4;
    border-radius: 5px;
    padding: 0 15px 5px;
    cursor: pointer;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 5px;
        top: 8px;
        @include get-sprite($map, select-arrow-down)
    }
}

.le-wrap-options {
    display: none;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4.85px 0.15px rgba(134, 134, 134, 0.75);
    position: absolute;
    z-index: 3;
    padding: 2px 8px 8px 15px;
    left: 2px;
    right: 0;
    top: 30px;

}


.le-option {
    display: block;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.close-select:after {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    top: 8px;
    @include get-sprite($map, select-arrow-up)
}
///////////////////////////////////////////

.filter-view {
    float: right;
    
    .filter__title {
        line-height: 51px;
    }
}

.filter__title {
    color: #5d656c;
    font: 14px/20px "open_sansregular", sans-serif;
}

.view-list {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding: 0;
    margin-left: 15px;
}

.view-list__item {
    display: inline-block;
    list-style: none;
    border-left: 1px solid #dee1e4;
}

.view-list__link {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 19px 17px 16px;
}

.view-list__item_detailed .view-list__link:after{
    content: "";
    display: block;
    @include get-sprite($map, view-list-detailed)
}

.view-list__item_tile .view-list__link:after{
    content: "";
    display: block;
    @include get-sprite($map, view-list-tile)
}

.view-list__item_list .view-list__link:after{
    content: "";
    display: block;
    @include get-sprite($map, view-list-list)
}



.view-list__item_detailed.active .view-list__link:after{
    content: "";
    display: block;
    @include get-sprite($map, view-list-detailed-active)
}

.view-list__item_tile.active .view-list__link:after{
    content: "";
    display: block;
    @include get-sprite($map, view-list-tile-active)
}

.view-list__item_list.active .view-list__link:after{
    content: "";
    display: block;
    @include get-sprite($map, view-list-list-active)
}