.footer-logo {
    float: left;
    padding-top: 72px;
}

.footer-logo__link {
    display: block;
    width: 238px;
    text-decoration: none;
}

.footer-logo__img {
    display: block;
    width: 100%;
}

.footer-logo__text {
    font-size: 0;
}