.important-info__title {
    color: #333;
    font: 20px "open_sansbold", sans-serif;
    margin-bottom: 4px;
}

.important-info__inner {
    margin: 0 -20px -20px -20px;
}

.important-info__text {
    color: #333;
    font: 14px/20px "open_sansregular", sans-serif;
    text-align: justify;
    margin-bottom: 20px;
}

.column {
    box-sizing: border-box;
    padding: 0 20px;
}

